<h3 class='spacing'></h3>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1>Edit User Info</h1>
    <%= form_for @user do |f| %>  
      <div class="form-group">
        <%= f.label :name, 'Name' %>
        <%= f.text_field :name, class: 'form-control' %>
        <%= f.label :email, 'Email' %>
        <%= f.text_field :email, class: 'form-control' %>
        <%= f.label :password, 'Password' %>
        <%= f.password_field :password, class: 'form-control' %>
        <%= f.label :password_confirmation, 'Reconfirm New Psssword' %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
      <%= f.submit 'Submit Edit', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<%= link_to("Delete Account", user_path(current_user.id), method: "delete") %>